<div class="background">
        <h1 class="header">Feast with Friends</h1>
        <div class="container-fluid">
       <div class="row">
         <div class="d-flex justify-content-center align-middle">
           <div class="aboutUs">
            This project was created to provide a resource for people with dietary restrictions to find delicious local restaurants that can accommodate their needs.
            Instead of calling ahead to inquire about the menu, FWF will allow the user to save time by being able to log in, create or change their preferences, and quickly find a delicious place to eat.
            This application will help you avoid the awkward scenario of going out to eat with friends and not having any options on the menu!            
           </div>
         </div>
       </div>
     </div>
</div>