<div class="background">
   <h1 class="header">Feast with Friends</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-center align-middle">
        <form class="login rounded-3">
          Please Sign In
          <div class="mb-3">
            <label for="email-input" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" />
            <div id="emailHelp" class="form-text">
              We'll never share your email with anyone else.
            </div>
          </div>
          <div class="mb-3">
            <label for="password-input" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-input" />
          </div>
          <button type="submit" class="btn btn-light">Submit</button>
          <p>Or sign up <a href="/signup">here</a></p>
        </form>
      </div>
    </div>
  </div>
</div>

{{>about-block}}

{{#section 'scripts'}}
    <script type="text/javascript" src="js/login.js"></script>
{{/section}}