.background{
    background-image: url("/img/brooke-lark-wMzx2nBdeng-unsplash.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
}

.login{
    background-color: rgba(123, 163, 131, 0.5);
    vertical-align: middle !important;
    margin: 250px;
    padding: 50px;
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
}

.profilePage {
    background-image: url("../public/img/bec4c2.png");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
}

#profileColumn {
    vertical-align: middle !important;
    font-family: 'Josefin Slab', serif;
    font-size: 25px;
}

#profileName {

    font-family: 'Amatic SC', cursive;
    font-size: 75px;
}
