:root{
    background-image: url("../public/img/brooke-lark-wMzx2nBdeng-unsplash.jpg");
    background-color: white;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}