.loginPage{
    background-image: url("../public/img/brooke-lark-wMzx2nBdeng-unsplash.jpg");
    /* background-color: white; */
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.signin{
    background-color: rgba(123, 163, 131, 0.5);
    vertical-align: middle !important;
    margin: 5px;
    padding: 5px;
}

.profilePage {
    background-image: url("../public/img/bec4c2.png");
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#profileColumn {
    vertical-align: middle !important;
}
